{% extends "bootstrap/base.html" %}

{% block title %}Summer's Blog{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<style type="text/css">
    #go_to_top {
    text-align: right;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
    }
    .footer p{
        text-align: center;
    }
    .sidebar-tag{
        margin:5px 10px 5px 10px;
        float: left;
    }
    .clear{
        clear: both;
    }
    a{color: #000;}
    a:hover{
        text-decoration:none;
        color: #337ab7;
    }
</style>
{% endblock %}
{% block navbar %}
<a href="https://github.com/summerliehu"><img style="position: absolute; top: 52px; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Logo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}">About me</a></li>
                {% if current_user.is_administrator() or current_user == user %}
                <li><a href="{{ url_for('main.blog_admin')}}">Admin Panel</a></li>\
                     {% endif %}       
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="blog-title"><a href="{{ url_for('main.index')}}">Summer's Blog</a></h1>
    <p class="lead ">Knowledge is power, France is bacon!</p>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-8 blog-main">
        {% block page_content %}{% endblock %}
        </div><!-- /.blog-post -->
        {% block sidebar %}
        {% include "_sidebar.html" %}
        {% endblock %}
    </div>
</div>

    {% block footer %}
        {% include "_footer.html" %}
    {% endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
