{% extends "bootstrap/base.html" %}
{% import '_macros.html' as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Summer's Blog{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Logo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}">About me</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username)}}">
                Profile</a></li>
                {% endif %}
                {% if current_user.is_administrator() or current_user == user %}
                <li><a href="{{ url_for('main.blog_admin')}}">Admin Panel</a></li>\
                     {% endif %}       
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                <li><a href="{{ url_for('auth.register') }}">or Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="blog-title">Admin Panel</h1>
		<hr>
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
	 		<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
	    </div>
	    {% endfor %}
		<div>
			<a href="{{ url_for('main.new_post') }}"><button type="button" class="btn btn-sm btn-default">New post</button></a>
			<hr>
		</div>

		<table class="table table-striped">
			<tbody>
				<p>Post list</p>

					{% if pagination %}
					<div class="pagination">
					{{ macros.pagination_widget(pagination, '.blog_admin') }}
					</div>
					{% endif %}
				{% for post in posts %}
				<tr>
				<td>
					<a href="{{ url_for('main.edit_post', id=post.id) }}"><button type="button" class="btn btn-sm btn-primary" >Edit</button></a>

					<a href="{{ url_for('main.delete_post', id=post.id, next=next, current_id=current_user.id ) }}"><button type="button" class="btn btn-sm btn-danger" >Delete</button></a>
				{{ post.title }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<hr>
<!-- Categary management -->
		<div class="row">
			<hr>
			<div><h4>Category management:</h4></div>
  			<div class="col-md-3">{{ wtf.quick_form(addCategoryForm) }}</div>
  			<div class="col-md-5">
				<table class="table table-striped">
					<p>Category list</p>
					<tbody>
	  					{% for category in categories %}
						<tr>
						<td>
							<a href="{{ url_for('main.edit_category', id=category.id) }}"><button type="button" class="btn btn-sm btn-primary" >Edit!!!!</button></a>

							<a href="{{ url_for('main.delete_category', id=category.id, next=next, current_id=current_user.id ) }}"><button type="button" class="btn btn-sm btn-danger" >Delete</button></a>
							{{ category.category_name }}
						</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
  			</div>
  			<div class="col-md-4">.col-md-4</div>
		</div>
<!-- Tag management -->
		<div class="row">
			<hr>
			<div><h4>Tag management:</h4></div>
  			<div class="col-md-3">{{ wtf.quick_form(addTagForm) }}</div>
  			<div class="col-md-5">
				<table class="table table-striped">
					<p>Tag list</p>
					<tbody>
	  					{% for tag in tags %}
						<tr>
						<td>
							<a href="{{ url_for('main.edit_tag', id=tag.id) }}"><button type="button" class="btn btn-sm btn-primary" >Edit</button></a>

							<a href="{{ url_for('main.delete_tag', id=tag.id, next=next, current_id=current_user.id ) }}"><button type="button" class="btn btn-sm btn-danger" >Delete</button></a>
							{{ tag.tag_name }}
						</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
  			</div>
  			<div class="col-md-4">.col-md-4</div>
		</div>
	</div>

    {% block footer %}
        {% include "_footer.html" %}
    {% endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
