

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block title %}Summer's Blog{% endblock %}

{% block page_content %}


{% for post in posts%}
<div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ moment(post.timestamp).fromNow() }} by 
        <a href="#">Admin</a>
    </p>
    {% if post.body_html %}
        {{ post.body_html | safe }}
    {% else %}
        {{ post.body }}
    {% endif %}
</div>
{% endfor %}

<nav>
{% if pagination %}
<div class="pagination">
{{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
</nav>
<!-- /.blog-main -->






{% endblock %}


