

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block title %}Summer's Blog{% endblock %}

{% block page_content %}


{% for post in posts %}
    <hr>
<div class="blog-post">
    <h2 class="blog-post-title"><a href="{{ url_for('main.post', id=post.id )}}">{{ post.title }}</a></h2>
    <p class="blog-post-meta">{{ moment(post.timestamp).fromNow() }} by 
        <a href="#">Admin</a>
    </p>
    <p>Category:{{ post.category.category_name }}</p>
    <div class="post-body">   
    <p>
    {% if post.body_html %}
        {{ post.body_html | safe | truncate(length, end='...') }}
    {% else %}
        {{ post.body }}
    {% endif %}
    <a href="{{ url_for('main.post', id=post.id )}}">>>></a>
    </p>
    </div>
</div>
{% endfor %}

<nav>
{% if pagination %}
<div class="pagination">
{{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
</nav>
<!-- /.blog-main -->






{% endblock %}


